---
import MainLayout from '../layouts/MainLayout.astro';
import { Counter } from '../components/react/ReactCounter.tsx';
---

<MainLayout>
  <section class="hero">
    <div class="hero-content">
      <h1 class="title">Welcome to Party Time!</h1>
      <p class="subtitle">Your one-stop shop for all party needs.</p>
      <a href="/services" class="cta-button">Our Services</a>
    </div>
  </section>
  <Counter />
</MainLayout>

<style>
  .title {
    font-family: 'Pacifico', cursive;
  }
</style>