<footer>
  <div class="container">
    <p>&copy; 2024 AstroParty. All Rights Reserved.</p>
  </div>
</footer>

<style>
  footer {
    padding: 2rem;
    text-align: center;
    background: #333;
    color: #fff;
  }
</style>
